:root {
  --body-large-regular-font-family: "Epilogue", Helvetica;
  --body-large-regular-font-weight: 400;
  --body-large-regular-font-size: 18px;
  --body-large-regular-letter-spacing: 0px;
  --body-large-regular-line-height: 160.0000023841858%;
  --body-large-regular-font-style: normal;
}
